tspan{
	text-transform: capitalize;
}

.body {
	width: 960px;
}

.container {
	width: 100%;
}


.top {
	width: 100%;
}

.total {
	width: 29%;
	display: inline-block;
}

#piechart {
	position: absolute;
	top: 160px;
	left: 5px;
	width: 30%;
}

#barchart {
	position: absolute;
	top: 160px;
	right: 20px;
	width: 65%;
}

.total h1 {
	font-size: 7em;
	position: absolute;	
	top: 15px;
	padding-left: 15px;
}

.total h2 {
	position: absolute;	
	top: 135px;
	padding-left: 15px;
}

.quake {
	width: 100%;
	position: relative;
	top: 950px;
	overflow: auto;
	padding-right: 20px; 
}

.quake .date {
	font-size: 1.5em;
	font-weight: bold;
}

.quake .magnitude {
	position: relative;
	font-size: 3em;
	display: inline-block;
	width: 100px;
	color: red;
}

.quake .data {
	display: inline-block;
	position: relative;
	top: -3px;
}
}


